//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self

// Bourbon, Neat, and Bitters
@import "bourbon";
@import "neat";
@import "bitters/bitters";

// Core
@import "variables";
@import "foundation";
@import "foundation-icons";
@import "icons_social";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";

// Fontawesome
@import "font-awesome";

// Models

// Plugins
@import 'nprogress';
@import 'nprogress-bootstrap';
@import 'jquery.minicolors';
@import 'dropzone/dropzone';

// Components
@import 'components/unsorted';

// Project-specific overrides
@import 'sitewide';
@import 'layouts';
@import 'forms';
@import 'overrides';
@import 'typography';

//
// Minor Tweaks
//

// Padding to clear fixed nav

body {

}

// Make sure alerts are nicely formatted
.alert {
  a {
    white-space: nowrap;
  }
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
  right:15px;
  left:auto;
}
